@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap');

* {
  box-sizing: border-box;
}

a, button {
  transition: all .3s ease-in-out;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Lato', sans-serif;
}

.who-we-are {
  font-size: 1.6rem;
  margin: 85px 0;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.who-we-are__title {
  padding: 0 15px;
  font-size: 3.4rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 8.95px;
  line-height: normal;
  position: relative;
}

.who-we-are__title::after {
  content: '';
  width: 45px;
  height: 4px;
  background-color: #dddbdb;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.who-we-are__text {
  max-width: 570px;
  font-size: 1.6rem;
  font-weight: 300;
  text-align: center;
  margin: 0 auto;
  margin-top: 60px;
}

.list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin-top: 60px;
}

.list__item {
  width: calc(25% - 15px*2);
  margin: 0 15px;
}

@media screen and (max-width: 767px) {
  .list__item {
    width: calc(50% - 15px*2);
    margin: 0 15px;
  }
}

@media screen and (max-width: 575px) {
  .list__item {
    width: 100%
  }
}

.list__block-img {
  max-width: 270px;
  height: 268px;
  position: relative;
  overflow: hidden;
  padding-bottom: 60%;
  width: 100%;
  transition: background 0.6s ease-in-out;
}

.list__block-img:hover ,
.list__block-img:active,
.list__block-img:focus {
  background: #00aed9;
}

.list__img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

@media screen and (max-width: 767px) {
  .list__img {
    max-width: 100%;
    height: auto;
  }
}

.list__block-img:hover .list__img {
  opacity: 0;
}

.soc-menu {
  display: flex;
  justify-content: space-between;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  padding: 0;

}

.soc-menu__item {
  margin: 0 5px;
  transition: all .4s ease-in-out;
  transform: rotate(0);
}

.soc-menu__item:hover {
  transform: scale(1.4);
}

.soc-menu__link {
  color: #ffffff;
  text-decoration: none;
}

.list__block-img:hover .soc-menu {
  display: flex;;
}

.soc-menu__icon {
  display: flex;
  width: 42px;
  height: 42px;
  background-color: rgba(255, 255, 255, 0.3)
}

.soc-menu__link:hover {
  color: #000000;
}

.fab {
  margin: auto;
}

.list__name {
  font-size: 1.8rem;
  font-weight: 700;
  margin-top: 15px;
}

.list__descr {
  font-size: 1.4rem;
  font-weight: 300;
}

@media screen and (max-width: 767px) {
  .list__descr {
    margin-bottom: 20px;
  }
}
